aiohappyeyeballs==2.3.5
aiohttp==3.10.2
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
build==1.0.3
CacheControl==0.13.1
cachetools==5.4.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.5
cleo==2.1.0
click==8.1.7
coloredlogs==15.0.1
comm==0.2.2
crashtest==0.4.1
debugpy==1.8.2
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
dotenv==0.0.5
dulwich==0.21.7
executing==2.0.1
fastapi==0.112.0
fastjsonschema==2.19.1
filelock==3.13.1
flatbuffers==24.3.25
frozenlist==1.4.1
fsspec==2024.6.1
google-auth==2.33.0
googleapis-common-protos==1.63.2
grpcio==1.65.4
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.24.5
humanfriendly==10.0
idna==3.6
importlib-metadata==7.0.1
importlib_resources==6.4.0
installer==0.7.0
ipykernel==6.29.5
ipython==8.26.0
jaraco.classes==3.3.0
jedi==0.19.1
jiter==0.5.0
joblib==1.4.2
JPype1==1.5.0
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
keyring==24.3.0
kiwipiepy==0.18.0
kiwipiepy_model==0.18.0
konlpy==0.6.0
kubernetes==30.1.0
langchain==0.2.13
langchain-core==0.2.30
langchain-openai==0.1.21
langchain-teddynote==0.0.19
langchain-text-splitters==0.2.2
langsmith==0.1.98
lxml==5.2.2
lz4==4.3.3
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
nest-asyncio==1.6.0
nltk==3.8.2
numpy==1.26.3
oauthlib==3.2.2
olefile==0.47
onnxruntime==1.18.1
openai==1.40.3
opencv-python==4.10.0.84
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
orjson==3.10.7
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.0
parso==0.8.4
pdf2image==1.17.0
pexpect==4.9.0
pillow==10.4.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.0.3
pinecone-plugin-interface==0.0.7
pinecone-text==0.9.0
pip==24.2
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
posthog==3.5.0
prompt_toolkit==3.0.47
protobuf==4.25.4
protoc-gen-openapiv2==0.0.1
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
PyPika==0.48.9
pyproject_hooks==1.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.4
PyYAML==6.0.2
pyzmq==26.0.3
rank-bm25==0.2.2
rapidfuzz==3.6.0
regex==2024.7.24
requests==2.31.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rsa==4.9
selenium==4.17.2
setuptools==65.5.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.32
stack-data==0.6.3
starlette==0.37.2
sympy==1.13.1
tenacity==8.5.0
tiktoken==0.7.0
tokenizers==0.20.0
tomlkit==0.12.3
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
trio==0.24.0
trio-websocket==0.11.1
trove-classifiers==2023.11.29
typer==0.12.3
types-requests==2.32.0.20240712
typing_extensions==4.12.2
tzdata==2023.4
urllib3==2.1.0
uvicorn==0.30.5
# uvloop==0.19.0
virtualenv==20.25.0
watchfiles==0.23.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==12.0
wget==3.2
wrapt==1.16.0
wsproto==1.2.0
xattr==0.10.1
yarl==1.9.4
youtube-transcript-api==0.6.2
zipp==3.17.0
